@model IEnumerable<project.ViewModels.SaleModel>

@{
    ViewData["Title"] = "Index";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item">Sale</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table datatable index-table text-break">
                        <thead>
                            <tr class="bg-danger text-white">
                                <th>
                                    @Html.DisplayNameFor(model => model.SaleId)
                                </th>
                                <th>
                                    User @Html.DisplayNameFor(model => model.AppUser.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Car)
                                </th>
                                <th class="w-10">
                                    @Html.DisplayNameFor(model => model.SaleDate)
                                </th>
                                <th class="text-center">
                                    Operations
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-dark-light">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.SaleId)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.AppUser.Email)
                                    </td>
                                    <td class="align-middle w-10">
                                        @Html.DisplayFor(modelItem => item.Car.CarTypeModel)
                                    </td>
                                    <td class="align-middle w-10">
                                        @Html.DisplayFor(modelItem => item.SaleDate)
                                    </td>
                                    <td class="align-middle text-center">
                                        <a href="" data-bs-toggle="modal" data-bs-target="#deleteModal" id="btn-delete"
                                           data-path="@Url.ActionLink("Delete","Sale",new {id= item.SaleId})">
                                            <i class="bx bxs-trash text-danger h5"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
